@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Sans+Thai+Looped & display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.container{
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  color: white;
  font-size: 3vh;
  background-color: cadetblue;
  padding: 2vh;
  margin: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
